body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(../src/assest/background2.png);
  background-attachment:cover !important;
  background-repeat: no-repeat;

 /* background: #abbaab;  
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab); 
  background: linear-gradient(to top, #ffffff, #abbaab); 
  background-attachment:cover;
  background-repeat: no-repeat;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
